.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/diana-polekhina-r6u-fhltchE-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 642px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  text-shadow: 0 2px 8px rgba(251,236,237,0.55);
  animation-duration: 2000ms;
  font-weight: 700;
  font-family: "Archivo Black";
  margin: 93px -31px 0 553px;
}

.u-section-1 .u-form-1 {
  height: 290px;
  margin: 47px -40px 60px 611px;
}

.u-section-1 .u-input-1 {
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  font-weight: 700;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  font-weight: 700;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 453px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 511px;
    width: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 343px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-left: 253px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 311px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 153px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 211px;
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 49px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 1px auto;
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 592px;
}

.u-section-3 .u-gallery-1 {
  height: 293px;
  grid-gap: 17px 17px;
  width: 1009px;
  margin: 61px 54px 0 auto;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 55px 55px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: -21px -11px 60px auto;
}

.u-section-3 .u-repeater-1 {
  min-height: 148px;
  grid-auto-columns: calc(25% - 6.75px);
  grid-template-columns: calc(25% - 6.75px) calc(25% - 6.75px) calc(25% - 6.75px) calc(25% - 6.75px);
  grid-gap: 9px 9px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0 16px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-3 .u-gallery-1 {
    height: 273px;
    grid-template-columns: repeat(3, auto);
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-top: -2px;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 122px;
    grid-template-columns: repeat(4, calc(25% - 6.75px));
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1135px;
  }

  .u-section-3 .u-gallery-1 {
    height: 836px;
    grid-template-columns: repeat(2, auto);
    width: 720px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-top: -565px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 374px;
    grid-auto-columns: calc(50% - 4.5px);
    grid-template-columns: repeat(2, calc(50% - 4.5px));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2807px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2508px;
    grid-template-columns: repeat(1, auto);
    width: 540px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-top: -2237px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1878px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1579px;
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-top: -1308px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}